torch 
numpy
torchmetrics
matplotlib
pydicom
SimpleITK
pydicom
scipy
nibabel
tcia-utils
torchvision
torchgpipe
monai
google-api-python-client 
google-auth 
google-auth-oauthlib 
google-auth-httplib2
pynrrd
scikit-learn
